
.item{
    background-color: #f0f0f0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* .container {
    width: 50%;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 50px 200px;
    grid-gap: 3px;
} */

/* Fractions Units and Repeat */

.container {
    display: grid;
    /* Shorthand */
    grid-template: repeat(2, 250px) / repeat(3, 1fr);
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px); */
    grid-gap: 20px;
}